<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
         
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

	<servlet>
	  <servlet-name>serverTimeServlet</servlet-name>
	  <servlet-class>de.imc.mirror.arapp.server.ARAppServiceImpl</servlet-class>
	  <init-param>
			<param-name>fileServiceHost</param-name>
			<param-value>
				localhost
			</param-value>
		</init-param>
		<init-param>
			<param-name>fileServicePath</param-name>
			<param-value>
				fileservice
			</param-value>
		</init-param>
		<init-param>
			<param-name>useHTTPS</param-name>
			<param-value>
				0
			</param-value>
		</init-param>
		<init-param>
			<param-name>fileservicePort</param-name>
			<param-value>
				8080
			</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
	  <servlet-name>serverTimeServlet</servlet-name>
	  <url-pattern>/arapp/server</url-pattern>
	</servlet-mapping>


</web-app>
